.board-wrapper{
    width: 100%;
    height: 92%;
    // background-color: #373F51;
    margin: 3% 0;
}

.board-box{
    width: 85vh;
    height: 85vh;
    margin: auto;
    // border: 2px solid #373F51;
    background-color: #fff;
}
