.title-flip-box{
    // width: 50%;
    height: 100vh;
    float: left;
}

.title-flip-horizontal{
    transform: rotate(-90deg);
    font-size: 50px;
    margin: 0;
}

.dash-box{
    width: 50%;
    height: 50vh;
    // background-color: #48a96200;
    float: right;
};

.dash-content{
    margin-left: 50%;
}


.left-col{
    background-color: #000000;
    width: 500px;
    height: 500px;
    margin-top: -20px;
}
.right-col{
    background-color: #000000;
    width: 5px;
    height: 500px;
    margin-top: -20px;
    float: right;
}

.top-row{
    background-color: #000000;
    height: 5px;
    width: 400px;
    margin-left: -20px;
}

.bottom-row{
    background-color: #000000;
    height: 5px;
    width: 400px;
    margin-left: -20px;
}

.content-row{
    padding: 20px 50px;
    width: 300px
}

.box-menu{
    height: 70%;
    padding: 10px;
    text-align: center;
}

.box-menu-item{
    padding: '2px'
}

.box-menu-button{
    height: 50%;
    width: 100%;
    padding: 10px 20px;
    background-color: $c1;
    margin: 5px 0;
    border: 0;
    border-radius: 2rem;
    color: #fff;
}