@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(30%);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(30%);
    }
  }

  @keyframes twinkle {
    50% {
      transform: scale(1.5);
    }
  }

.game-base{
    width: 60%;
    position: absolute;
    height: 100vh;
    background-color: #fff;
    float: right;
    z-index: 10;
    animation: 2s ease-out 0s 1 slideInFromLeft;
    transform: translateX(30%);
    border-left: 1.5rem solid $c1;
    padding: 20px;
}

.game-page-header{
    height: 5%;
    color: #fff;
    font-size: 1rem;
    .game-page-header-scoreboard{
        width:79%;
        height: 100%;
        // padding: 2px;
        background-color: $c1;
        float: left;
        border-radius: 1rem;
        position: relative;
        .score-display{
          width: 20%;
          height: 100%;
          position: relative;
          float: left;
          margin: 0;
          background-color: #fff;
          margin-left: 30%;
          color: $c2;   
          text-align: center;       
          .score-display-value{
            position: relative;
            width: 50%;
            height: 100%;
            float: left;
            background-color: $c2;
            border-radius: 1rem;
            color: #fff;
            p{
              margin: 5px;
              animation: 5s ease-in-out 0s infinite twinkle;
            }
          }
          .score-display-total{
            width: 50%;
            height: 100%;
            float: right;
            background-color: $c1;
            border-radius: 1rem;
            color: #fff;
            p{
              margin: 5px;
            }
          }
        }
    }
    
    .game-page-header-back{
        width:20%;
        height: 100%;
        float: right;
        .back-button {
          height: 100%;
          width: 100%;
          border-radius: 1rem;
        }
    }
}

.game-page-box{
    background-color: $c1;
};

.game-won-result{
  margin-top: 10%;
}