@import '~antd/dist/antd.css';
@import 'palette';
@import 'Dash';
@import 'GamePage';
@import 'Board';
@import 'Tile';

.box{
    height: 100vh;
    padding: 50px;
    margin: auto;
}

.dash-base-l{
    width: 80%;
    height: 100vh;
    background-color: $c2;
    float: left;
    z-index: 5;
}

.dash-base-r{
    width: 20%;
    height: 100vh;
    background-color: $c1;
    float: left;
    z-index: 5;
}

.ant-btn:hover, .ant-btn:active{
    color: $c1;
    border-color: $c1;
}