.tile-wrapper{
    height: 10vh;
    width: 10vh;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
}

.tile{
  height: 100%;
  width: 100%;
}

.flip-card {
    background-color: #fff;
    perspective: 1000px;
    height: inherit;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $c1;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  // .flip-card:hover .flip-card-inner {
  //   transform: rotateY(180deg);
  // }

  .flip-card:hover .flip-card-inner{
    transform: scale(0.5);
    box-shadow: 0 4px 8px 0 rgb(100, 100, 100);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #fff;
    color: black;
  }
  
  .flip-card-back {
    background-color: #90979b;
    color: white;
    transform: rotateY(180deg);
  }